body{
    margin: 0;
    padding: 0;
    background: linear-gradient(72deg, #009999 25%, #333333 75%);
    width: 600px;

}
.formulário{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 500px;
    margin-left: 400px;

}
a{
    text-decoration: none;
    color: white;
    font-family: verdana;
    
    
}
p{
    text-align: center;
    color: white;
    font-family: Verdana;

}